/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/public/dist
/public/images
/public/icons
/public/svg
/public/assets
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.php_cs.cache
/.idea/
.composer-lock.json
/frontend/.package-lock.json
/frontend/node_modules
/public/fonts
composer.lock
yarn.lock
public/swagger/swagger.json
apidocs/swagger-constants.php
apidocs/swagger.sh
