// Here you can add other styles


.c-header.c-header-fixed{
    top:0px;
}

.click-file{
    cursor:pointer;
}

// login
.auth-btn {
  background: #1874C4;
}

.auth-btn:focus, .auth-btn:hover, .auth-btn:active {
  background-color: #321fdb !important;
  border-color: #321fdb !important;
}
.auth-forward {
  color: #1874C4;
}

.btn-detail {
  min-width: 60px;
  width: 100%;
  line-height: 43px;
}

.btn-point_purchase_history {
  min-width: 138px;
  width: 100%;
  line-height: 43px;
}

.table th, .table td {
  vertical-align: middle !important;
}

.body-login {
  background: #F5F5F5;
}

.login-box {
  box-shadow: 0px 0px 10px #0000001A;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}
.box-shadow {
  box-shadow: 0px 0px 10px #0000001A;
}

.login-box-body {
  border: 0px;
}
a:hover {
  text-decoration: none;
}

.date-row {
  position: relative;
  .icon-row {
    right: 16px;
    cursor: pointer;
    .img-icon {
      position: absolute;
      right: 5px;
      width: 20px;
      height: 20px;
      top: 5px;
    }
    &.input-group-btn {
      position: absolute;
      top: 0;
      right: 15px;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 45px;
    }
  }
}
